<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Dependabot report</title>
    <style>
        .github-avatar {
            margin-right: 10pt;
            max-height: 32px;
            max-width: 32px;
            object-fit: contain;
        }
        .github-repo-empty {}
        .github-repo-error {}
        .github-repo-fork {}
        .github-repo-hidden {
            display: none;
        }
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        <h1 class="text-left">
                            Dependabot report
                        </h1>
                        <h3 class="text-left">
                            <span style="margin-left: 40pt">as of {{ report_mtime }}</span>
                        </h3>
                        <hr>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        <form>
                            <label for="input-hide-empty">
                                <input id="input-hide-empty" name="filter-checkbox" type="checkbox" value="github-repo-empty"> Hide repos with no alerts
                            </label>
                            <label for="input-hide-errors">
                                <input id="input-hide-errors" name="filter-checkbox" type="checkbox" value="github-repo-error"> Hide repos with errors
                            </label>
                            <label for="input-hide-forks">
                                <input id="input-hide-forks" name="filter-checkbox" type="checkbox" value="github-repo-fork"> Hide repos which are forks
                            </label>
                            <button id="btn-filter" type="button" class="btn btn-primary">Filter</button>
                        </form>

                        <script>
                            const btn = document.querySelector('#btn-filter');
                            // FIXME(zstyblik): future optimization required
                            btn.addEventListener('click', (event) => {
                                let checkboxesNotChecked = document.querySelectorAll('input[name="filter-checkbox"]:not(:checked)');
                                checkboxesNotChecked.forEach((checkbox) => {
                                    if (['github-repo-empty', 'github-repo-error', 'github-repo-fork'].includes(checkbox.value)) {
                                        let elems = document.querySelectorAll('tbody:has(tr[class*="'+checkbox.value+'"])')
                                        elems.forEach((elem) => {
                                            elem.classList.remove('github-repo-hidden')
                                        });
                                    }
                                });
                                let checkboxesChecked = document.querySelectorAll('input[name="filter-checkbox"]:checked');
                                checkboxesChecked.forEach((checkbox) => {
                                    if (['github-repo-empty', 'github-repo-error', 'github-repo-fork'].includes(checkbox.value)) {
                                        let elems = document.querySelectorAll('tbody:has(tr[class*="'+checkbox.value+'"])')
                                        elems.forEach((elem) => {
                                            elem.classList.add('github-repo-hidden')
                                        });
                                    }
                                });
                            });
                        </script>

                        <hr>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
                <div class="row">
{% for namespace_data in namespaces.values() %}
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="{{ namespace_data.owner.avatar_url }}" class="img-fluid float-start github-avatar" alt="Avatar">
                                <h4 class="text-left">
                                    {{ namespace_data.owner.login }}
                                </h4>
                                <table class="table table-sm table-hover">
                                    <thead class="hidden">
                                        <tr>
                                            <th>
                                                #
                                            </th>
                                            <th>
                                                Alert state
                                            </th>
                                            <th>
                                                Description
                                            </th>
                                            <th>
                                                Created at
                                            </th>
                                            <th>
                                                Severity
                                            </th>
                                        </tr>
                                    </thead>
{%   for repo_name, repo in namespace_data.repos.items() %}
                                    <tbody>
                                        <tr class="{{ repo.html_filters | join(' ') if repo.html_filters else 'github-repo-nofilter' }}">
                                            <td colspan="5">
                                                <a href="{{ repo.html_url }}">{{ repo_name }}</a>
{%     if not repo.alerts_error %}
                                                <span style="float: right">
                                                    <span title="Critical" class="badge text-bg-danger">{{ repo.alerts_stats.critical }}</span>
                                                    <span title="High" class="badge text-bg-warning">{{ repo.alerts_stats.high }}</span>
                                                    <span title="Medium" class="badge text-bg-warning bg-warning-subtle">{{ repo.alerts_stats.medium }}</span>
                                                    <span title="Low" class="badge text-bg-info bg-info-subtle">{{ repo.alerts_stats.low }}</span>
                                                </span>
{%     endif %}
                                            </td>
                                        </tr>
{%     if repo.alerts %}
{%       for alert_num, alert in repo.alerts.items() %}
                                        <tr>
                                            <td>
                                                <span style="margin-left: 4pt">#{{ alert_num }}</span>
                                            </td>
                                            <td>
                                                {{ alert.state }}
                                            </td>
                                            <td>
                                                <a href="{{ alert.html_url }}">{{ alert.security_advisory.summary }}</a>
                                            </td>
                                            <td>
                                                {{ alert.created_at.strftime("%Y-%m-%d %H:%M:%S%z") }}
                                            </td>
{%         if alert.security_advisory.severity == "critical" %}
{%           set alert_severity_class="badge text-bg-danger" %}
{%         elif alert.security_advisory.severity == "high" %}
{%           set alert_severity_class="badge text-bg-warning" %}
{%         elif alert.security_advisory.severity == "medium" %}
{%           set alert_severity_class="badge text-bg-warning bg-warning-subtle" %}
{%         elif alert.security_advisory.severity == "low" %}
{%           set alert_severity_class="badge text-bg-info bg-info-subtle" %}
{%         else %}
{%           set alert_severity_class="unknow" %}
{%         endif %}
                                            <td>
                                                <span class="{{ alert_severity_class }}">{{ alert.security_advisory.severity }}</span>
                                            </td>
                                        </tr>
{%       endfor %}
{%     elif not repo.alerts_error and not repo.alerts %}
                                        <tr>
                                            <td colspan="5">
                                                <span style="margin-left: 4pt">There seem to be no dependabot alerts.</span>
                                            </td>
                                        </tr>
{%     elif repo.alerts_error %}
                                        <tr>
                                            <td colspan="5">
                                                <span style="margin-left: 4pt">Either dependabot isn't enabled or an error has occurred.</span>
                                            </td>
                                        </tr>
{%     endif %}
                                    </tbody>
{%   endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                    </div>
{% endfor %}
                </div>
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        <p>
                            Operation took {{ timing_sec }} seconds.
                        </p>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8 text-center">
                        <span class="small">
                            Generated by <a href="https://github.com/zstyblik/dependabot-report">dependabot-report</a><br>
                            Copyright (c) 2024 Zdenek Styblik
                        </span>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
