---
name: CI for dependabot-report

on: [push]  # yamllint disable-line rule:truthy

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase
        uses: actions/checkout@v5
      - name: Set up Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: 3.13
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-ci.txt
      - name: Reorder Python imports
        run: |
          ./ci/run-reorder-python-imports.sh
      - name: Lint with flake8
        run: |
          ./ci/run-flake8.sh
      - name: Lint with black
        run: |
          ./ci/run-black.sh check || ( ./ci/run-black.sh diff; exit 1 )
      - name: Test with pytest
        run: |
          python -m pytest .
